{{define "content"}}
<div class="grid">
    <div></div>
    <div>
        <table>
            <tr>
                <td><b>Current Project: </b></td>
                <td>{{.Status.Current}}</td>
            </tr>
            <tr>
                <td>Time This Session </td>
                <td>{{.Status.Elapsed}}</td>
            </tr>
            <tr>
                <td>Time Today </td>
                <td>{{.Status.CurrentTotal}}</td>
            </tr>
        </table>
        {{ if .Tracking }}
        <form fx-method="post" fx-action="projects/stop/" fx-target="#conent" fs-swap="innerHTML">
            <button ype="submit"><i class="fa fa-stopwatch"></i> Stop</button>
        </form>
        {{end}}

        <h2> Time worked today </h2>
        <table>
            {{range .Status.Durations}}
            <tr>
                <td><b><label>{{ .Project }}</label></b></td>
                <td>{{ .Elapsed }}</td>
            </tr>
            {{end}}
            <tr>
                <td><strong><label>Total Time Today</label></strong></td>
                <td><label>{{ .Status.DailyTotal }}</label><br></td>
            </tr>
        </table>
    </div>
</div>
{{end}}