{{define "login"}}
<!DOCTYPE html>
<html lang="en">
{{ template "head" }}

<body>
    {{template "navbar" .}}
    <div id="content">
        <!--<div id="content" fx-action="/projects/status" hx-trigger="every {{.Refresh}}m"></div>-->
        {{template "loginForm" .}}
    </div>
    {{template "footer" .}}
    {{template "about" . }}
</body>

</html>
{{ end }}

{{ define "loginForm" }}
<div class="grid">
    <div></div>
    <div>
        <h1>Timetrace Login</h1>
        <form fx-action="/login" fx-target="#content" fx-method="post" fx-swap="innerHTML">
            <label for="username">Username</label><br>
            <input type="text" placeholder="enter username" name="username" required><br>
            <label for="pass">Password</label><br>
            <input type="password" placeholder="enter password" name="password" required><br>
            <p></p>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
{{end}}