{{define "addProject"}}
<div class="grid">
    <div></div>
    <div>
        <h1>Add New Project</h1>
        <form id="newProject" fx-method="post" fx-action="/projects/" fx-target="#content" fx-swap="innerHTML">
            <label for="Name">New Project</label><br>
            <input type="text" placeholder="new project name" name="name" required><br>
        </form>
        <button fx-action="/status/" fx-target="#content" fx-swap="innerHTML">Cancel</button>
        <button form="newProject" type="submit">Submit</button>
    </div>
</div>
{{end}}

{{ define "showProjects" }}
<div class="grid">
    <div></div>
    <div>
        <h1>Projects</h1>
        {{range .Projects}}
        <button fx-action="/projects/start/{{.}}" fx-target="#content" fx-swap="innerHTML" fx-method="post">
            {{.}}
        </button>
        <br>
        {{ end }}
        <hr>
        <button fx-action="/status/" fx-target="#content" fx-swap="innerHTML">Cancel</button>
        <button fx-action="/projects/add/" fx-target="#content" fx-swap="innerHTML">
            New Project
        </button>
    </div>
</div>
{{ end }}