{{define "report"}}
<div class="grid">
    <div class></div>
    <div>
        <h1>Reports</h1>
        <form fx-method="post" fx-action="/reports/" fx-target="#content" fx-swap="innerHTML">
            <p><label>Start Date</label></p>
            <p><input type="date" name="start" value="{{.DefaultDate}}" required></p>
            <p><label>End Date</label></p>
            <p><input type="date" name="end" value="{{.DefaultDate}}" required></p>
            <p><label>Limit to Project</label></p>
            <p><select name="project">
                    <option value=""></option>
                    {{range .Projects}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select></p>
            <p><button onclick="location.href='/'">Cancel</button>
                <button type="submit">Submit</button>
            </p>
        </form>
    </div>
</div>
{{end}}

{{define "results"}}
<div class="grid">
    <div></div>
    <div>
        <h1>TimeTrace Report</h1>
        {{range .}}
        <h2>Project {{.Project}}</h2>
        {{range .Items}}
        <button fx-action="/records/{{ .ID }}" fx-target="#content" type="button">
            {{.Start.Format "Jan 02, 2006 15:04"}} &nbsp; {{.End.Format "Jan 02, 2006 15:04"}}
        </button><br>
        {{end}}
        <h2>{{.Total}}</h2>
        {{end}}
        <button onclick="location.href='/'">Close</button>
    </div>
</div>
{{end}}

{{define "editRecord"}}
<div class="grid">
    <div></div>
    <div>
        <h1>Edit Record</h1>
        <form fx-method='post' fx-action="/records/{{ .ID }}" fx-target="#content" fx-swap="innerHTML">
            <input type="hidden" name="ID" value="{{.ID}}">
            <label>Start</label>
            <input type="date" name="Start" value='{{.Start.Format "2006-01-02"}}'>
            <input type="time" name="StartTime" value='{{.Start.Format "15:04"}}'>
            <label>End</label>
            <input type="date" name="End" value='{{.End.Format "2006-01-02"}}'>
            <input type="time" name="EndTime" value='{{.End.Format "15:04"}}'>

            <p><button onclick="location.href='/'">Cancel</button>
                <button type="submit">Submit</button>
            </p>
        </form>
    </div>
</div>
{{end}}