{{ define "sidebar" }}
<!-- [html-validate-disable no-inline-style]-->
<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-quarter w3-bar-block w3-small w3-hide-small w3-center w3-theme-d1">
    <!-- Avatar image in top left corner -->
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-theme-d4">
        <i class="fa fa-home w3-xxlarge"></i>
        HOME
    </a>
    <button type="button" class="w3-bar-item w3-button w3-padding-large w3-hover-black" hx-get="/about"
        hx-target="#home" hx-swap="outerHTML">
        <i class="fa fa-user w3-xxlarge"></i>
        ABOUT
    </button>
    <button type="button" class="w3-bar-item w3-button w3-padding-large w3-hover-black" hx-get="/projects"
        hx-target="#home" hx-swap="outerHTML">
        <i class="fa fa-tools w3-xxlarge"></i>
        PROJECTS
    </button>
    <button type="button" class="w3-bar-item w3-button w3-padding-large w3-hover-black" hx-get="/contact"
        hx-target="#home" hx-swap="outerHTML">
        <i class="fa fa-envelope w3-xxlarge"></i>
        CONTACT
    </button>
</nav>
{{end}}