{{define "user"}}
<!-- [html-validate-disable prefer-tbody]-->
<div class="grid">
    <div></div>
    <div>
        <h1>Users</h1>
        <table>
            <tr>
                <td>Name</td>
                <td>Admin</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
            {{range . }}
            <tr>
                <td>{{.Username}}</td>
                <td>{{.IsAdmin}}</td>
                <td><i class="fa fa-edit" fx-action="/users/{{.Username}}" fx-target="#content" fx-swap="innerHTML"></i>
                </td>
                <td><i class="fa fa-user-slash" fx-method='delete' fx-action="/users/{{.Username}}" fx-target="#content"
                        fx-swap='innerHTML' ext-fx-confirm='delete user'></i></td>
            </tr>
            {{end}}
        </table>
        <p>
            <button fx-action="/status/" fx-target="#content" fx-swap="innerHTML">Cancel</button>
            <button fx-action="/users/register/" fx-target="#content" fx-swap="innerHTML">New User</button>
        </p>
    </div>
</div>
{{end}}

{{define "editUser"}}
<div class="grid">
    <div></div>
    <div>
        <h1>Edit User</h1>
        <h2>{{.Username}} {{.IsAdmin}}</h2>
        <form id="editUser" fx-method='post' fx-action="/users/{{.Username}}" fx-target="#content" fx-swap='innerHTML'
            onsubmit="return valPass()">
            <label for="password">New Password: </label>
            <input type="password" placeholder="new password" name="password" required><br>
            <label for="verify">Verify Password: </label>
            <input type="password" placeholder="new password" name="verify" required><br><br>
            {{ if .AsAdmin }}
            <label for="admin">Admin</label>
            <input type="checkbox" name="admin" {{ if .IsAdmin}} checked {{end}}><br><br>
            {{end }}
        </form>
        <button fx-action="/status/" fx-target="#content" fx-swap="innerHTML">Cancel</button>
        <button form="editUser" type="submit">Submit</button>
    </div>
</div>
{{end}}

{{define "register"}}
<div class="grid">
    <div></div>
    <div>
        <h1>Timetrace Add User</h1>
        <form id="register" fx-method="post" fx-action="/users/register/" fx-target="#content" fx-swap="innerHTML">
            <label for="username">Username</label><br>
            <input type="text" placeholder="enter username" name="username" required><br>
            <label for="pass">Password</label><br>
            <input type="password" placeholder="enter password" name="password" required><br>
            <label for="admin">IsAdmin</label><br>
            <input type="checkbox" name="admin"><br>
        </form>
        <p>
            <button fx-action="/status/" fx-target="#content" fx-swap="innerHTML">Cancel</button>
            <button form="register" type="submit">Add</button>
        </p>
    </div>
</div>
{{end}}