{{define "user"}}
<!-- [html-validate-disable prefer-tbody]-->
<div class="grid">
    <div></div>
    <div>
        <h1>Users</h1>
        <table>
            <tr>
                <td>Name</td>
                <td>Admin</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
            {{range . }}
            <tr>
                <td>{{.Username}}</td>
                <td>{{.IsAdmin}}</td>
                <td><i class="fa fa-edit" fx-action="/users/{{.Username}}" fx-target="#content"></i></td>
                <td><i class="fa fa-user-slash" fx-method='delete' fx-action="/users/{{.Username}}" fx-target="#content"
                        fx-swap='innerHTML' onsubmit="return confirm('delete user')"></i></td>
            </tr>
            {{end}}
        </table>
        <div>
            <p></p>New User &nbsp; <i class="fa fa-user" fx-action="/users/register/" fx-target="#content"></i></p>
        </div>
    </div>
</div>
{{end}}

{{define "editUser"}}
<div class="grid">
    <div></div>
    <div>
        <h1>Edit User</h1>
        <h2>{{.Username}} {{.IsAdmin}}</h2>
        <form name="editUser" fx-method='post' fx-action="/users/{{.Username}}" fx-target="#content" fx-swap='innerHTML'
            onsubmit="return valPass()">
            <label for="password">New Password: </label>
            <input type="password" placeholder="new password" name="password" required><br>
            <label for="verify">Verify Password: </label>
            <input type="password" placeholder="new password" name="verify" required><br><br>
            {{ if .AsAdmin }}
            <label for="admin">Admin</label>
            <input type="checkbox" name="admin" {{ if .IsAdmin}} checked {{end}}><br><br>
            <button type="button" fx-action="/users/" fx-target="#content">Cancel</button>
            {{else}}
            <button type="button" fx-action="/" fx-target="#main">Cancel</button>
            {{end }}
            <button type="submit">Submit</button>
        </form>
        <script>
            function valPass() {
                var x = document.forms["editUser"]["password"].value;
                var y = document.forms["editUser"]["verify"].value;
                console.log(x, y)
                if (x != y) {
                    alert("password are not the same");
                    return false;
                }
            }
        </script>
    </div>
</div>
{{end}}